<div class="rounded control wide-rule-control" id="group-<%= group.id %>-rule-<%= rule.id %>">
  <div class="right">
    <%= link_to_remote 'Delete Rule',:url => {:action => :clear_global_rule, :controller => :rules, :id => 'global'} %>
  </div>
	<% form_remote_for([:admin, rule]) do |f| %>
		<%= render :partial => 'admin/rules/form', :locals => {:f => f} %>
  		<%= submit_tag 'Update', :class => 'button' %>
  <% end %>
</div>