<div class="rounded control wide-rule-control" id="group-<%= group.id %>-rule-<%= rule.id %>">
  <div class="right">
    <%= button_to_remote 'Delete', :url => {:controller => 'admin/rules', :action => :destroy, :id => rule.id}, :method => :delete %>
  </div>
	<% form_remote_for([:admin, rule]) do |f| %>
		<%= render :partial => 'admin/rules/form', :locals => {:f => f} %>
  		<%= submit_tag 'Update', :class => 'button' %>
  <% end %>
</div>