<div class="rounded control wide-rule-control" id="group-<%= group.id %>-rule-new">
  <div class="right">
    <%= link_to_remote 'Cancel',:url => {:action => :clear_global_rule, :controller => :rules, :id => 'global'} %>
  </div>
	<% form_remote_for([:admin, rule]) do |f| %>
	<%= f.hidden_field :group_id, :value => group.id %>
  <%= render :partial => 'admin/rules/form', :locals => {:f => f} %>
  <div class="clearbox"></div>
  <%= submit_tag 'Create', :class => 'button' %>
  <% end %>
</div>