
<table id="windows-table">
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Incoming Data Size</th>
    <th>Outgoing Data Size</th>
    <th># Packets Incoming</th>
    <th># Packets Outgoing</th>
  </tr>

    <%- stream.windows.each do |window| -%>
      <tr>
        <td><%= window.start_time.to_s(:short) %></td>
        <td><%= window.end_time.to_s(:short) %></td>
        <td><%= window.size_packets_incoming %></td>
        <td><%= window.size_packets_outgoing %></td>
        <td><%= window.num_packets_incoming %></td>
        <td><%= window.num_packets_outgoing %></td>
      </tr>
    <%- end -%>
</table>
