<%= render :partial => 'header' %>
<!-- This passes in the groups control as we don't want it in the show page -->
<% render :layout => 'layouts/controls' do %>
  <p class="control-title">Groups</p>
  <div id="groups-chooser">
    <ul>
      <%- unless !@groups || @groups.empty? -%>
        <%- @groups.each do |group| -%>
          <li><%= check_box_tag group.id, group.id, @selected_groups.include?(group.id), 
                  :onclick => "update_selected_groups(#{group.id});" %> 
              <%= link_to group.name, group_url(group) %>
          </li>
        <%- end -%>
      <%- else -%>
        <li>None</li>
      <%- end -%>
    </ul>
  </div>
<% end %>

<h2>Network Traffic Timeline</h2>
<div class="column span-13 first last">
  <h2>Network Traffic Timeline</h2>
  <%= render :partial => 'graphs', :locals => {:graphs => @timeline_graphs, :div_class => "ycodaslider"} %>
</div>

<div class="clearbox"></div>

<h2>Network Traffic Details</h2>
<%- @graph_groups.each_with_index do |graphs, index| -%>
<%- div_classes = "column span-8" 
    div_classes << " first" if index == 0
    div_classes << " last" if index == (@graph_groups.size-1)
-%>
<div class=<%= "\"#{div_classes}\"" %> >
  <%= render :partial => 'graphs', :locals => {:graphs => graphs, :div_class => "ycodaslider-small"} %>
</div>
<%- end -%>

<%= @graph_top_ip_by_data_size %>