<%= render :partial => 'header' %>
<%= render :partial => 'layouts/controls' %>
<h1><%= @group.name %></h1>

<div class="column span-13 first last">
  <h2>Network Traffic Timeline</h2>
  <%= render :partial => 'graphs', :locals => {:graphs => @timeline_graphs, :div_class => "ycodaslider"} if @timeline_graphs %>
</div>

<div class="clearbox"></div>

<h2>Network Traffic Details</h2>
<%- @detail_graph_groups.each_with_index do |graphs, index| -%>
<%- div_classes = "column span-8" 
    div_classes << " first" if index == 0
    div_classes << " last" if index == (@detail_graph_groups.size-1)
-%>
<div class=<%= "\"#{div_classes}\"" %> >
  <%= render :partial => 'graphs', :locals => {:graphs => graphs, :div_class => "ycodaslider-small"} %>
</div>
<%- end -%>
