<% content_for :head do  %>
<%= javascript_include_tag 'ycodaslider-3.0.pack' %>
<script type="text/javascript">
  jQuery(document).ready(function()
  {
    jQuery(window).ycodacss('/stylesheets/ycodaslider-3.0.css'); 
    jQuery(window).bind("load", function() { 
        jQuery(".ycodaslider").ycodaslider(); 
    });  });
</script>
<% end %>

<!-- This passes in the groups control as we don't want it in the show page -->
<% render :layout => 'layouts/controls' do %>

  <p class="control-title">Groups</p>
  <div id="groups-chooser">
    <ul>
      <%- unless !@groups || @groups.empty? -%>
        <%- @groups.each do |group| -%>
          <li><%= check_box_tag group.id, group.id, @selected_groups.include?(group.id), :onclick => "update_selected_groups(#{group.id});" %> 
              <%= link_to group.name, group_url(group) %></li>
        <%- end -%>
      <%- else -%>
        <li>None</li>
      <%- end -%>
    </ul>
  </div>
<% end %>

<h2>Network Traffic Timeline</h2>
<div class="ycodaslider column span-14 first last">
  <div class="yslider-panelwrapper" title="Data Size">
    <%= @graph_all_timeline_by_data_size %>
  </div>
  <div class="yslider-panelwrapper" title="Normalized Data Size">
    <%= @graph_all_timeline_by_data_size_normal %>
  </div>
  <div class="yslider-panelwrapper" title="Packet Count">
    <%= @graph_all_timeline_by_packet_count %>
  </div>
  <div class="yslider-panelwrapper" title="Normalized Packet Count">
    <%= @graph_all_timeline_by_packet_count_normal %>
  </div>
</div>

<div class="clearbox"></div>

<!-- Here is where a series of graphs can go  -->
<h2>Network Traffic Details</h2>
<div class="column span-6 first" style="width: 315px">

  <div class="ycodaslider ycodaslider-small">
	<div class="yslider-panelwrapper" title="Group Distributions">
      <%= @graph_all_by_data_size %>
	</div>
  </div><!-- .ycodaslider -->
  
</div>
<div class="column span-6" style="width: 315px">

  <div class="ycodaslider ycodaslider-small">
	<div class="yslider-panelwrapper" title="Daily Traffic">
      <%= @graph_all_top_daily_by_data_size %>
	</div>
  </div><!-- .ycodaslider -->

</div>
<div class="column span-6 last" style="width: 315px">

  <div class="ycodaslider ycodaslider-small">
	<div class="yslider-panelwrapper" title="Top IP Addresses">
      <%= @graph_all_top_ip_by_data_size %>
	</div>
  </div><!-- .ycodaslider -->

</div>

<div class="clearbox"></div>

<h1>
<%= link_to_function("Raw Traffic", :id => "raw_traffic_link") do |page|
    page.visual_effect(:toggle_blind, 'raw_traffic')
  end
 %>&nbsp;&nbsp;&nbsp;&nbsp;
<span style="font-size:12px;text-decoration:underline;">
<%= link_to_function("show / hide", :id => "raw_traffic_link") do |page|
    page.visual_effect(:toggle_blind, 'raw_traffic')
  end
 %>
</span>
</h1>

 <div id="raw_traffic" style="display:none">
  <%= render :partial => 'streams/streams', :locals => {:streams => @streams} %>
  <%= link_to_function("close", nil) do |page|
      page.toggle('raw_traffic')
    end
   %>
 </div>
