<% content_for :head do  %>
<%= javascript_include_tag 'ycodaslider-3.0.pack' %>
<script type="text/javascript">
  jQuery(document).ready(function()
  {
    jQuery(window).ycodacss('/stylesheets/ycodaslider-3.0.css'); 
    jQuery(window).bind("load", function() { 
        jQuery(".ycodaslider").ycodaslider(); 
    });  });
</script>
<% end %>

<!-- This passes in the groups control as we don't want it in the show page -->
<% render :layout => 'layouts/controls' do %>
  <p>Groups</p>
  <div id="groups-chooser">
    <ul>
      <%- unless !@groups || @groups.empty? -%>
        <%- @groups.each do |group| -%>
          <li><%= check_box_tag group.id, group.id, @selected_groups.include?(group.id), :onclick => "update_selected_groups(#{group.id});" %> 
              <%= link_to group.name, group_url(group) %></li>
        <%- end -%>
      <%- else -%>
        <li>None</li>
      <%- end -%>
    </ul>
  </div>
<% end %>
<div class="ycodaslider column span-14 first last">
	<div class="yslider-panelwrapper" title="Data Transfered">
		<h3>Data Transfered</h3>
    <%= @graph_packet_size_all %>
  </div>
  <div class="yslider-panelwrapper" title="Packets Transfered">
		<h3>Packets Transfered</h3>
		<%= @graph_packet_num_all %>
	</div>
</div>

<div class="clearbox"></div>

<h1>Raw Traffic</h1>
<%= render :partial => 'streams/streams', :locals => {:streams => @streams} %>