<%= render :partial => 'header' %>

<!-- This passes in the groups control as we don't want it in the show page -->
<% render :layout => 'layouts/controls' do %>

  <p class="control-title">Groups</p>
  <div id="groups-chooser">
    <ul>
      <%- unless !@groups || @groups.empty? -%>
        <%- @groups.each do |group| -%>
          <li><%= check_box_tag group.id, group.id, @selected_groups.include?(group.id), 
                  :onclick => "update_selected_groups(#{group.id});" %> 
              <%= link_to group.name, group_url(group) %>
          </li>
        <%- end -%>
      <%- else -%>
        <li>None</li>
      <%- end -%>
    </ul>
  </div>
<% end %>

<h2>Network Traffic Timeline</h2>
<div class="column span-13 first last">
  <%= render :partial => 'graphs', :locals => {:graphs => @timeline_graphs, :div_class => "ycodaslider"} %>
</div>

<div class="clearbox"></div>

<h2>Network Traffic Details</h2>
<div class="column span-8 first">
  <%= render :partial => 'graphs', :locals => {:graphs => @daily_graphs, :div_class => "ycodaslider-small"} %>
</div>
<div class="column span-8">
  <%= render :partial => 'graphs', :locals => {:graphs => @group_graphs , :div_class => "ycodaslider-small"} %>
</div>
<div class="column span-8 last">
  <%= render :partial => 'graphs', :locals => {:graphs => @ip_graphs, :div_class => "ycodaslider-small"} %>
</div>

<div class="clearbox"></div>

<h1>
<%= link_to_function("Raw Traffic", :id => "raw_traffic_link") do |page|
    page.visual_effect(:toggle_blind, 'raw_traffic')
  end
 %>&nbsp;&nbsp;
<span style="font-size:12px;">
<%= link_to_function("show / hide", :id => "raw_traffic_link") do |page|
    page.visual_effect(:toggle_blind, 'raw_traffic')
  end
 %>
</span>
</h1>

 <div id="raw_traffic" style="display:none">
  <%= render :partial => 'streams/streams', :locals => {:streams => @streams} %>
  <%= link_to_function("close", nil) do |page|
      page.toggle('raw_traffic')
    end
   %>
 </div>
