<%= render :partial => 'header' %>
<%= render :partial => 'layouts/controls' %>
<h1><%= @group.name %></h1>

<div class="column span-13 first last">
  <h2>Network Traffic Timeline</h2>
  <%= render :partial => 'graphs', :locals => {:graphs => @timeline_graphs, :div_class => "ycodaslider"} if @timeline_graphs %>
</div>

<div class="clearbox"></div>

<h2>Network Traffic Details</h2>
<div class="column span-8 first">
  <%= render :partial => 'graphs', :locals => {:graphs => @daily_graphs, :div_class => "ycodaslider-small"} %>
</div>
<div class="column span-8">
  <%= render :partial => 'graphs', :locals => {:graphs => @port_graphs , :div_class => "ycodaslider-small"} %>
</div>
<div class="column span-8 last">
  <%= render :partial => 'graphs', :locals => {:graphs => @ip_graphs, :div_class => "ycodaslider-small"} %>
</div>

<div class="clearbox"></div>

<h1>
<%= link_to_function("Raw Traffic", :id => "raw_traffic_link") do |page|
    page.visual_effect(:toggle_blind, 'raw_traffic')
  end
 %>&nbsp;&nbsp;
<span style="font-size:12px;">
<%= link_to_function("show / hide", :id => "raw_traffic_link") do |page|
    page.visual_effect(:toggle_blind, 'raw_traffic')
  end
 %>
</span>
</h1>

 <div id="raw_traffic" style="display:none">
  <%= render :partial => 'streams/streams', :locals => {:streams => @streams} %>
  <%= link_to_function("close", nil) do |page|
      page.toggle('raw_traffic')
    end
   %>
 </div>

