<% content_for :head do  %>
<%= javascript_include_tag 'ycodaslider-3.0.pack' %>
<script type="text/javascript">
  jQuery(document).ready(function()
  {
    jQuery(window).ycodacss('/stylesheets/ycodaslider-3.0.css'); 
    jQuery(window).bind("load", function() { 
        jQuery(".ycodaslider").ycodaslider(); 
    });  });
</script>
<% end %>
<%= render :partial => 'layouts/controls' %>
<h1><%= @group.name %></h1>
<!-- First large graph goes in its own column -->
<!-- This keeps it over to the left - out of the way of the  -->
<!-- date picker -->

<div class="column span-13 first last">
  <%= @graph_max_ip_address_packet_size %>
  <div id="switch-control">
  </div>
</div>

<!-- This is just a hack to make sure everything sits as it should   -->
<!-- We can replace with something cleaner later -->
<div class="clearbox"></div>
<div class="clearbox"></div>

<h2>Network Traffic Timeline</h2>
<div class="ycodaslider">
	<div class="yslider-panelwrapper" title="Packet Size">
		<h3>Packet Size Timeline</h3>
    <%= @graph_timeline_packet_size %>
	</div>
	<div class="yslider-panelwrapper" title="Packet Count">
		<h3>Packet Count Timeline</h3>
    <%= @graph_timeline_packet_count %>
	</div>		
	<div class="yslider-panelwrapper" title="Normalized Packet Size">
		<h3>Normalized Packet Size Timeline</h3>
    <%= @graph_timeline_packet_size_normal %>
	</div>
	<div class="yslider-panelwrapper" title="Normalized Packet Count">
		<h3>Normalized Packet Count Timeline</h3>
    <%= @graph_timeline_packet_count_normal %>
	</div>
</div><!-- .ycodaslider -->

<div class="clearbox"></div>
