<!-- This will get inserted into the head portion of the html -->
<% content_for :head do  %>
  <%= javascript_include_tag 'jquery.tablesorter' %>
  <%= stylesheet_link_tag 'tablesorter/blue/style' %>
<% end %>

<table id="streams-table" class="tablesorter">
  <thead>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Protocol</th>
    <th>IP Incoming</th>
    <th>Port Incoming</th>
    <th>Packet # Incoming</th>
    <th>Packet Size Incoming</th>
    <th>IP Outgoing</th>
    <th>Port Outgoing</th>
    <th>Packet # Outgoing</th>
    <th>Packet Size Outgoing</th>
  </tr>
  </thead>
  <tbody>
  <%- streams.each do |stream| -%>
    <%- stream.windows.each do |window| -%>
      <tr>
        <td><%= window.start_time.to_s(:short) %></td>
        <td><%= window.end_time.to_s(:short) %></td>
        <td><%= stream.protocol %></td>
        <td><%= stream.ip_incoming %></td>
        <td><%= stream.port_incoming %></td>
        <td><%= window.num_packets_incoming %></td>
        <td><%= window.size_packets_incoming %></td>
        <td><%= stream.ip_outgoing %></td>
        <td><%= stream.port_outgoing %></td>
        <td><%= window.num_packets_outgoing %></td>
        <td><%= window.size_packets_outgoing %></td>
      </tr>
    <%- end -%>
  <%- end -%>
  </tbody>
</table>