<table id="streams-table" class="tablesorter">
  <thead>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Protocol</th>
    <th>IP Incoming</th>
    <th>Port Incoming</th>
    <th># Packets Incoming</th>
    <th>Packet Size Incoming</th>
    <th>IP Outgoing</th>
    <th>Port Outgoing</th>
    <th># Packets Outgoing</th>
    <th>Packet Size Outgoing</th>
  </tr>
  </thead>
  <tbody>
  <%- streams.each do |stream| -%>

      <tr>
        <td><%= stream.start_time.to_s(:short) %></td>
        <td><%= stream.end_time.to_s(:short) %></td>
        <td><%= stream.protocol %></td>
        <td><%= stream.ip_incoming %></td>
        <td><%= stream.port_incoming %></td>
        <td><%= stream.num_packets_incoming %></td>
        <td><%= stream.size_packets_incoming %></td>
        <td><%= stream.ip_outgoing %></td>
        <td><%= stream.port_outgoing %></td>
        <td><%= stream.num_packets_outgoing %></td>
        <td><%= stream.size_packets_outgoing %></td>
      </tr>
      
  <%- end -%>
  </tbody>
</table>

<%= will_paginate streams %>

