
<table id="streams-table">
  <tr>
    <th></th>
    <th>Start Time
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>End Time
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>Duration (sec)
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>IP Incoming
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>Port Incoming
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>IP Outgoing
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>Port Outgoing
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>Total Data
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
    <th>Total # Packets
        <!-- <%= image_tag("upanddownArrow1.jpg") %> -->
    </th>
  </tr>
  <%- @streams.each do |stream| -%>
      <tr bgcolor="#<%= stream.color(@groups) %>">
        <td><%= link_to_function(image_tag("arrow_down.png"), nil) do |page|
                mydiv = 'windows' + stream.id.to_s
                page.visual_effect(:toggle_blind, mydiv)
              end
             %></td>
        <td><%= stream.start_time.to_s(:short) %></td>
        <td><%= stream.end_time.to_s(:short) %></td>
        <td><%= stream.duration.round %></td>
        <td><%= stream.ip_incoming %></td>
        <td><%= stream.port_incoming_name %></td>
        <td><%= stream.ip_outgoing %></td>
        <td><%= stream.port_outgoing_name %></td>
        <td><%= stream.total_packet_size %></td>
        <td><%= stream.total_number_packets %>

      </tr>
      <tr><td colspan="10">
         <div id="<%= "windows" + stream.id.to_s  %>" style="display:none">
          <hr size="1" />
          <%= render :partial => 'windows/windows', :locals => {:windows => stream.windows} %>
          <%= link_to_function("close", nil) do |page|
              mydiv = 'windows' + stream.id.to_s
              page.toggle(mydiv)
            end
           %>
          <hr size="1" />
         </div>
      </td></tr>
  <%- end -%>
</table>

<%= will_paginate @streams %>

