<div id="spinner" style:"">
  <%= image_tag 'spinner.gif' %>
</div>
<table id="streams-table">
  <tr>
    <th></th>
    <th <%= sort_td_class_helper "start_time" %> >
        <%= sort_link_helper "Start Time", "start_time" %>
    </th>
    <th <%= sort_td_class_helper "end_time" %> >
        <%= sort_link_helper "End Time", "end_time" %>
    </th>
    <th>Duration (sec)</th>
    <th <%= sort_td_class_helper "ip_incoming" %> >
        <%= sort_link_helper "IP Incoming", "ip_incoming" %>
    </th>
    <th <%= sort_td_class_helper "port_incoming" %> >
        <%= sort_link_helper "Port Incoming", "port_incoming" %>
    </th>
    <th <%= sort_td_class_helper "ip_outgoing" %> >
        <%= sort_link_helper "IP Outgoing", "ip_outgoing" %>
    </th>
    <th <%= sort_td_class_helper "port_outgoing" %> >
        <%= sort_link_helper "Port Outgoing", "port_outgoing" %>
    </th>    
    <th>Total Data</th>
    <th>Total # Packets</th>
  </tr>
  <%- streams.each do |stream| -%>
      <tr bgcolor="#<%= stream.color(@groups) %>">
        <td><%= link_to_function(image_tag("arrow_down.png"), nil) do |page|
                mydiv = 'windows' + stream.id.to_s
                page.visual_effect(:toggle_blind, mydiv)
              end
             %></td>
        <td><%= stream.start_time.to_s(:short) %></td>
        <td><%= stream.end_time.to_s(:short) %></td>
        <td><%= stream.duration.round %></td>
        <td><%= stream.ip_incoming %></td>
        <td><%= stream.port_incoming_name %></td>
        <td><%= stream.ip_outgoing %></td>
        <td><%= stream.port_outgoing_name %></td>
        <td><%= stream.total_packet_size %></td>
        <td><%= stream.total_number_packets %>

      </tr>
      <tr><td colspan="10">
         <div id="<%= "windows" + stream.id.to_s  %>" style="display:none">
          <hr size="1" />
          <%= render :partial => 'windows/windows', :locals => {:windows => stream.windows} %>
          <%= link_to_function("close", nil) do |page|
              mydiv = 'windows' + stream.id.to_s
              page.toggle(mydiv)
            end
           %>
          <hr size="1" />
         </div>
      </td></tr>
  <%- end -%>
</table>

<%= will_paginate streams, :params => {:action => :order_streams, :sort => params[:sort], :id => params[:id]} %>

