<%= f.error_messages %>
<div class="column first span-5 prepend-6">
  <%= f.label :name, "Name:" %>
  <%= f.text_field :name, :size => 8%>
</div>
<div class="column last span-5">
  <%= f.label :number, "Port Number:" %>
  <%= f.text_field :number, :size => 4%>
</div>

<div class="clearbox">
  
</div>