<tr>
  <% form_for([:admin, port_name]) do |f| %>
    <%= hidden_field_tag :page, params[:page] %>
    <td><%=f.text_field :name, :size => 10 %></td>
    <td><%=f.text_field :number, :size => 4 %></td>
    <td><%= f.submit "Update", :class => 'button' %></td>    
  <% end %>
  <td><%= link_to image_tag("cancel.png"), admin_port_name_path(port_name, :page => params[:page]), :method => :delete %></td>
</tr>
