<h1>Editing group</h1>
 
<% form_for([:admin, @group]) do |f| %>
  <%= f.error_messages %>
 
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Destroy',  [:admin, @group], :confirm => 'Delete this group and all its rules?', :method => :delete %>