<!-- Here's how to iterate through each group and then each rule -->

<h1>Groups:</h1>
<% @groups.each do |group| %>
  <h2><%= link_to_function(group.name) do |page|
    page.visual_effect(:toggle_blind, "rule-list-#{group.id}")
  end %></h2>
  <div id="rule-list-<%= group.id.to_s %>" style="display:none;">
  <h3>Rules:</h3>
  <% group.rules.each do |@rule| %>
  
		<%= render :partial => 'admin/rules/show.html.erb' %>
		
  <% end %>
        <!-- New Rule Form: -->
        <h3>Create New Rule:</h3>
        <div class="rounded control" id="global-rule-control">
        <% remote_form_for :rule, :url => { :controller => :rules, :action => :edit_a_rule} do |f| %>
        <%= f.hidden_field :id, :value => 'global' %>

        <div class="control-entry">
        <p class="control-subtitle">IP Range:</p>
        <div class="column first span-5">
            <%= f.label :ip_incoming_start, "Incoming:" %>
            <br />
            <%= f.text_field :ip_incoming_start, :size => 11%>
            <span>-</span>
            <%= f.text_field :ip_incoming_end, :size => 11%>
        </div>
        <div class="column last span-5">
          <%= f.label :ip_outgoing_start, "Outgoing:" %>
          <br />
          <%= f.text_field :ip_outgoing_start, :size => 11%>
          <span>-</span>
          <%= f.text_field :ip_outgoing_end, :size => 11%>
        </div>
        </div>
        <div class="control-entry">
        <p class="control-subtitle">Port Range:</p>
        <div class="column first span-4">
            <%= f.label :port_incoming_start, "Incoming:" %>
            <br />
            <%= f.text_field :port_incoming_start, :size => 6%>
            <span>-</span>
            <%= f.text_field :port_incoming_end, :size => 6%>

        </div>
        <div class="column span-4">
          <%= f.label :port_outgoing_start, "Outgoing:" %>
          <br />
          <%= f.text_field :port_outgoing_start, :size => 6%>
          <span>-</span>
          <%= f.text_field :port_outgoing_end, :size => 6%>
        </div>
        <div class="column last span-2">
          <%= f.label :not_flag, "Not:" %>
          <br />
          <%= f.check_box :not_flag %>
        </div>
        </div>
        <div class="clearbox"></div>
        <%= submit_tag 'Create Rule', :class => 'button' %>
        <%= link_to_remote 'Delete Rule', :class => 'button', :url => {:action => :clear_global_rule, :controller => :rules, :id => 'global'} %>
        <% end %>
        </div>
		
		</div>
		
<% end %>
 <h2><u> <%= link_to "Create New Group", :action => "new" %> </u></h2>

