<h1>Groups <span style="font-size:12px;text-decoration:underline;">(<%= link_to "Add New Group", :action => "new" %>) </span> </h1> 
<% @groups.each do |group| %>
  <h2>
    <%= link_to_function(group.name, :class => "closed" ) do |page|
          page.visual_effect(:toggle_blind, "rule-list-#{group.id}") 
        end 
    %>
  </h2>	
  <div id="rule-list-<%= group.id.to_s %>" style="display:none;">
    <h3>Rules:</h3>
    <div id="rule-list-rules-<%= group.id.to_s %>">
      <% group.rules.each do |rule| %>
    		<%= render :partial => 'admin/rules/edit', :locals => {:rule => rule, :group => group} %>
      <% end %>
    </div>
  
  		<!-- New Rule Form: -->
  		<h2><%= button_to_function("Create New Rule") do |page|
  		page.visual_effect(:toggle_blind, "new-rule-#{group.id}")
  		end %></h2>
		
		<div id="new-rule-<%= group.id.to_s %>" style="display:none;">
		  <%= render :partial => 'admin/rules/new', :locals => {:rule => Rule.new, :group => group} %>
		</div>
		
	</div>
		
<% end %>

<div class="clearbox">
  
</div>

<h1><%= link_to "Host Names", admin_host_names_url %></h1>
<div class="clearbox">
  
</div>
<h1><%= link_to "Port Names", admin_port_names_url %></h1>