<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Lincoln: <%= controller.controller_name+" - "+controller.action_name %></title>
  
  <link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print"> 
  <!--[if IE]>
    <link rel="stylesheet" href="stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <%= stylesheet_link_tag 'site' %>
  
  <%= javascript_include_tag 'prototype', 'effects', 'controls' %>
  <%= calendar_date_select_includes 'silver' %>
  <%= javascript_include_tag 'swfobject', 'curvycorners', 'jquery' %>  
  <script>jQuery.noConflict();</script>
  <%= javascript_include_tag 'site' %>
</head>
<body>
<div id="container">
<%= render :partial => 'layouts/header' %>
  <div id="content">
    <div class="site">
      <p style="color: green"><%= flash[:notice] %></p>
      <%= yield  %>
    </div>
  </div>
  <br />
  <br />
<%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>
